<!DOCTYPE html>
<html>
  <head>
    <title>Bien Reviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to root_path do %>
          <%= image_tag 'bien-logo.svg' %>
        <% end %>
      </h1>
      
      <h2>Awesome Reviews for everyone</h2>
      
      <nav>
        <%= link_to "Add A New Review!", new_review_path %>
      </nav>
  </header>
    <%= yield %>


    <footer>
      Copyright yeah babe
    </footer>
  </body>
</html>
